# python artifacts
__pycache__/
*.egg-info/
build/
files.txt

# pixi environments
.pixi/*
!.pixi/config.toml

# Ignore mesh/texture assets in aic_mujoco mjcf, keep only .xml
aic_utils/aic_mujoco/mjcf/*.obj
aic_utils/aic_mujoco/mjcf/*.stl
aic_utils/aic_mujoco/mjcf/*.png

# isaaclab assets
aic_utils/aic_isaac/intrinsic_aic_isaaclab/source/intrinsic_task/intrinsic_task/tasks/manager_based/intrinsic_task/Intrinsic_assets/
