# python artifacts
__pycache__/
*.egg-info/
build/
files.txt

# pixi environments
.pixi/*
!.pixi/config.toml

# isaaclab assets
aic_utils/aic_isaac/intrinsic_aic_isaaclab/source/intrinsic_task/intrinsic_task/tasks/manager_based/intrinsic_task/Intrinsic_assets/
